[submodule "vendor/bundle/ruby/2.6.0/bundler/gems/jekyll-last-modified-at-e0c918691db6"]
    path = vendor/bundle/ruby/2.6.0/bundler/gems/jekyll-last-modified-at-e0c918691db6
    url = https://github.com/cotan-en/digital-garden